*.vshost.exe
*.vshost.exe.manifest
*.pdb
*.nupkg
*.user
*.suo
projects/packages/*
projects/vs2008/slnStartupProject/obj/
projects/vs2008/slnStartupProjectLibrary/obj/
projects/vs2013/slnStartupProject/obj/
projects/vs2013/slnStartupProjectLibrary/obj/
/tests/data/ExampleProject/Debug
/tests/data/ExampleProject/Release
/tests/data/ExampleProject/x64
/tests/data/ExampleProject/ExampleLibrary/x64
/tests/data/ExampleProject/ExampleLibrary/Debug
/tests/data/ExampleProject/ExampleLibrary/Release
/tests/data/ExampleProject/ExampleProject/x64
/tests/data/ExampleProject/ExampleProject/Debug
/tests/data/ExampleProject/ExampleProject/Release
/tests/data/ExampleProject/.vs
/projects/vs2017/slnStartupProjectLibrary/Properties
/projects/vs2017/slnStartupProjectLibrary/bin
/projects/vs2017/slnStartupProjectLibrary/obj
/projects/vs2017/slnStartupProject/obj
/projects/vs2017/slnStartupProject/Properties
